# Python bytecode
*.pyc
__pycache__/

# Virtual environments
.venv/
env/
venv/

# Editor/IDE files
.vscode/
.idea/

# Build artifacts
build/
dist/
*.egg-info/

# Logs and temporary files
*.log
*.tmp
*.swp

# Environment variables
.env
/src/generated/prisma

# Downloads
downloads/

# Reference files
ref/
prisma/migrations/
data/
BoostDepth/boost/
BoostDepth/dependencies/